
<br>
<div class="slider">
    <div class="slides">
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">

       
     <div class="slide first">
           <img src ="../assets/Images/home1.jpg">
        </div>
         <div class="slide">
          <img src ="../assets/Images/home2.jpg">
        </div>    
    </div>
   <div class="navigation-manual">
      <label for="radio1" class="manual-btn"></label>
      <label for="radio2" class="manual-btn"></label>
    </div>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h3>COLLABORATIONS</h3>
<div> <img src ="../assets/Images/gov.png" width="1270px"></div>
