&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="flex-container">
       &nbsp;&nbsp;
   <div class="flex-item">
          <a href="/Farmer-create">
          <img src="../assets/Images/backhoe.jpg"  height="250" width="300"></a>
          <h2>BACK HOE</h2>
          <h4>Machine id=1</h4>
           Backhoe Loader is used for various purposes like digging, loading, 
           backfilling, trenching, and provides the maximum power and performance 
           in all outdoor activities.
          <div><h3><b>RENT PER HOUR:Rs.2000</b></h3></div>
    </div>   
    
    <div class="flex-item">
       <a href="/Farmer-create">
       <img src="../assets/Images/baler.jpg"  height="250" width="300"></a>
       <h2>BALER</h2>
       <h4>Machine id=2</h4>
       When used as a tractor attachment, a baler turns agricultural leftovers, such as hay 
       and flax straws, into bales that can then be utilized for a variety of things, including 
       haylage and animal feed. 
       <div><h3><b>RENT PER HOUR:Rs.1500</b></h3></div>
    </div> 
    
    <div class="flex-item">
       <a href="/Farmer-create">
       <img src="../assets/Images/broadcast seeder.jpg"  height="250" width="300"></a>
       <h2>BROADCAST SEEDER</h2>
       <h4>Machine id=3</h4>
       Broadcast planting is the practice of dispersing seeds over the surface of the soil. 
       The seeds are dispersed on the seedbeds either automatically or manually during this phase.
       <div><h3><b>RENT PER HOUR:Rs.2500</b></h3></div>
    </div> 
    
    <div class="flex-item">
       <a href="/Farmer-create">
       <img src="../assets/Images/combineharvester.jpg"  height="250" width="300"></a>
       <h2>COMBINE HARVESTER</h2>
       <h4>Machine id=4</h4>
       The combineharvester is essentially a binder-type cutting device that cuts and delivers the grain or seed 
       crop to a threshing machine modified to work as it moves across the field. The cutting–gathering 
       component, designed to take the grain with a minimum of straw, is sometimes called the header.
       <div><h3><b>RENT PER HOUR:Rs.3500</b></h3></div>
    </div> 
</div>

<div class="flex-container">
       &nbsp; &nbsp; 
    <div class="flex-item">
       <a href="/Farmer-create">
       <img src="../assets/Images/cultipacker.jpg"  height="250" width="300"></a>
       <h2>CULTIPACKER</h2>
       <h4>Machine id=5</h4>
       A cultipacker is a piece of agricultural tool that crushes dirt clods, removes air pockets, 
       and presses down small stones, forming a smooth, firm seedbed.
       <div><h3><b>RENT PER HOUR:Rs.1800</b></h3></div>
    </div> 
    <div class="flex-item">
       <a href="/Farmer-create">
       <img src="../assets/Images/manurespreder.jpg"  height="250" width="300"></a>
       <h2>MANURESPREADER</h2>
       <h4>Machine id=8</h4>
       The manure spreader is a large piece of agricultural service machinery which allows for the even 
       spreading of manure across fields. The spreader is a trailer which can be towed by a trailer 
       whichpropels the rotating mechanism.
       <div><h3> <b>RENT PER HOUR:Rs.500</b></h3></div>
    </div> 
    <div class="flex-item">
       <a href="/Farmer-create">
       <img src="../assets/Images/rakes.jpg"  height="250" width="300"></a>
       <h2>RAKES</h2>
       <h4>Machine id=9</h4>
       Hay rake is a tractor mounted and ground driven agricultural implement which gives high 
       quality raking result with overall low cost. of ownership. It has no gears, chains or other
        drive components to wear out; the finger wheel rake is truly a low maintenance tool.
       <div><h3><b>RENT PER HOUR:Rs.2800</b></h3></div>
    </div> 
    <div class="flex-item">
       <a href="/Farmer-create">
       <img src="../assets/Images/seeddrill.jpg"  height="250" width="300"></a>
       <h2>SEEDDRILL</h2>
       <h4>Machine id=10</h4>
       A seed drill is an innovative agriculture tool that helps sow the seeds for crops. It 
       positions the seed in the soil and buries them to a specific depth to be distributed equally. 
       <div><h3><b>RENT PER HOUR:Rs.2200</b></h3></div>
    </div> 
</div>

<div class="flex-container">
       &nbsp; &nbsp; 
    <div class="flex-item">
       <a href="/Farmer-create">
       <img src="../assets/Images/mower.jpg"  height="250" width="300"></a>
       <h2>MOWER</h2>
       <h4>Machine id=11</h4>
       The mower is a machine mainly used for harvesting grasses and forage crops. It cuts the 
       stems of standing vegetation to make hay out of them. The mower cutter bar is capable of 
       cutting the stems at 3-10 cm above the ground.
       <div><h3><b>RENT PER HOUR:Rs.1600</b></h3></div>
    </div> 
    <div class="flex-item">
       <a href="/Farmer-create">
       <img src="../assets/Images/boxblade.jpg"  height="250" width="300"></a>
       <h2>BOXBLADE</h2>
       <h4>Machine id=12</h4>
       It's used primarily for spreading material like soil or gravel, and for grading, leveling,
        or backfilling an expansive area of land for a driveway, lawn, garden, building site, etc. 
       <div><h3><b>RENT PER HOUR:Rs.1300</b></h3></div>
    </div> 
    <div class="flex-item">
       <a href="/Farmer-create">
       <img src="../assets/Images/twowheeled tractor.jpg"  height="250" width="300"></a>
       <h2>TWOWHEELED TRACTOR</h2>
       <h4>Machine id=13</h4>
       A two-wheeled tractor specializes in pulling any of numerous types of implements, whereas 
       rotary tillers specialize in soil tillage with their dedicated digging tools. This article
        concerns two-wheeled tractors as distinguished from such tillers.
       <div><h3><b>RENT PER HOUR:Rs.1700</b></h3></div>
    </div> 
    <div class="flex-item">
       <a href="/Farmer-create">
       <img src="../assets/Images/cultivator.jpg"  height="250" width="300"></a>
       <h2>CULTIVATOR</h2>
       <h4>Machine id=14</h4>
       The main function of the field cultivator is to prepare a proper seedbed for the crop to be 
       planted into, to bury crop residue in the soil (helping to warm the soil before planting), to 
       control weeds, and to mix and incorporate the soil to ensure the growing crop has enough water 
       and nutrients to grow well during the growing season. 
       <div><h3><b>RENT PER HOUR:Rs.1900</b></h3></div>
    </div> 
</div>

<div class="flex-container">
       &nbsp; &nbsp; 
    <div class="flex-item">
       <a href="/Farmer-create">
       <img src="../assets/Images/grain cart.jpg"  height="250" width="300"></a>
       <h2>GRAIN CART</h2>
       <h4>Machine id=15</h4>
       The cart will enable wheat farmers and traders to transport and deliver their crops 
       easily to storage sites with minimal losses and maximum working efficiency. It will also 
       increase farmers' profit because transportation cost by using this grain cart is less than 
       that of the current conventional method.
       <div><h3><b>RENT PER HOUR:Rs.2600</b></h3></div>
    </div> 
    <div class="flex-item">
       <a href="/Farmer-create">
       <img src="../assets/Images/gravitywagen.jpg"  height="250" width="300"></a>
       <h2>GRAVITY WAGON</h2>
       <h4>Machine id=16</h4>
       The gravity wagon, or slant wagon, is an angled hopper style wagon that utilizes gravity to 
       make the unloading process easier. It is primarily used on farms for agricultural purposes, 
       such as for holding crops or fertilizer.
       <div><h3><b>RENT PER HOUR:Rs.3100</b></h3></div>
    </div> 
    <div class="flex-item">
       <a href="/Farmer-create">
       <img src="../assets/Images/planter.JPG"  height="250" width="300"></a>
       <h2>PLANTER</h2>
       <h4>Machine id=17</h4>
       The planter is also suitable for sowing of inter-crops as different seeds can be filled in 
       different boxes. The planter consists of a frame with tool bar, modular seed boxes, furrow 
       openers and ground wheel.
       <div><h3><b>RENT PER HOUR:Rs.2700</b></h3></div>
    </div> 
    <div class="flex-item">
       <a href="/Farmer-create">
       <img src="../assets/Images/plow.jpg"  height="250" width="300"></a>
       <h2>PLOW</h2>
       <h4>Machine id=18</h4>
       plow, also spelled plough, most important agricultural implement since the beginning of 
       history, used to turn and break up soil, to bury crop residues, and to help control weeds.
       <div><h3><b>RENT PER HOUR:Rs.1500</b></h3></div>
    </div> 
</div>
<div class="flex-container">
       &nbsp; &nbsp; 
    <div class="flex-item">
       <a href="/Farmer-create">
       <img src="../assets/Images/post hole digger.jpg"  height="250" width="300"></a>
       <h2>POST HOLE DIGGER</h2>
       <h4>Machine id=19</h4>
       It is used to dig holes in the ground, typically from a few inches to a about a foot in 
       diameter, for general purposes such as setting fence and sign posts or planting saplings. 
       In operation, the tool is jabbed into the ground with the blades in the open position.
       <div><h3><b>RENT PER HOUR:Rs.2200</b></h3></div>
    </div> 
    <div class="flex-item">
       <a href="/Farmer-create">
       <img src="../assets/Images/rotary cutter.jpg"  height="250" width="300"></a>
       <h2>ROTARY CUTTER</h2>
       <h4>Machine id=20</h4>
       A tractor mounted rotary cutter is different than a grooming mower. A rotary cutter is 
       designed to cut rough plant material, from thick pasture grass to tree saplings with trunks 
       up to 1-inch (2.5 cm) thick. It offers an adjustable cutting height from 1½ to 9 inches (4 – 23 cm).
       <div><h3><b>RENT PER HOUR:Rs.2100</b></h3></div>
    </div> 
    <div class="flex-item">
       <a href="/Farmer-create">
       <img src="../assets/Images/sprayer.jpg"  height="250" width="300"></a>
       <h2>SPRAYER</h2>
       <h4>Machine id=21</h4>
       Agriculture sprayers are often used for applying water and water/chemical solutions containing 
       acids or caustic materials for crop-performance or pest-control; i.e. fertilizers and pesticides.
       <div><h3><b>RENT PER HOUR:Rs.2550</b></h3></div>
    </div> 
    <div class="flex-item">
       <a href="/Farmer-create">
       <img src="../assets/Images/spreader.jpg"  height="250" width="300"></a>
       <h2>SPREADER</h2>
       <h4>Machine id=22</h4>
       Unlike manual spraying, a broadcast spreader evenly distributes the fertilizer, thereby aiding
        in sustainable production throughout the year. This is why farmers with both large and 
        small-scale farms are investing in fertiliser spreaders.
       <div><h3><b>RENT PER HOUR:Rs.1500</b></h3></div>
    </div> 
</div>
