
<div>
    <img src="../assets/Images/logo3.png" height="100" width="200">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;   
    <img src="../assets/Images/call.png" height="30" width="30">6382596210&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
    <img src="../assets/Images/mail.jpg" height="40" width="40">agridrive@gmail.com&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
    <img src="../assets/Images/twitter.png" height="40" width="40">@agridrive
</div>

<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; 
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
    <button (click)='HOME()'>Home</button>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
<button (click)='ABOUTUS()'>AboutUs</button>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
<button (click)='OURSERVICES()'>Machinery Booking</button>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
<button (click)='AVAILABILITY()'>Fertilizer Availability</button>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; 
<button (click)='CONTACTUS()'>ContactUs</button>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
<button (click)='LOGIN()'>AdminLogin</button>
<p><router-outlet></router-outlet></p>
</div>
<app-centerpart></app-centerpart>
<br><br>
    <img src ="../assets/Images/footer.png" height="400px" width="1270px">

 