<br><br>

<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>CONTACT US</b></h1>
<div class="flex-container">
    <div class="flex-item">
        <img src="../assets/Images/cartoon.jpg">
        <h4>CHENNAI</h4>
        14,Royal street,<br>Nungambaakkam,<br>chennai,<br>600034<br>Contact:9876541239
    </div>
    <div class="flex-item">
        <img src="../assets/Images/cartoon.jpg">
        <h4>COIMBATORE</h4>
        137,Theradi street,<br>Gandhipuram,<br>Coimbatore,<br>612389<br>Contact:7653213987
    </div>
    <div class="flex-item">
        <img src="../assets/Images/cartoon.jpg">
        <h4>TIRUPPUR</h4>
        781,V.O.C street,<br>Udumalpet,<br>Tiruppur,<br>642126<br>Contact:9087534567
    </div>
    <div class="flex-item">
        <img src="../assets/Images/cartoon.jpg">
        <h4>SALEM</h4>
        23/A,R.R.street,<br>Morappur,<br>Salem,<br>686876<br>Contact:7653263687
    </div>
    <div class="flex-item">
        <img src="../assets/Images/cartoon.jpg">
        <h4>THIRUVANNAMALAI</h4>
        98,Anaikatti street,<br>Thiruvannamalai,<br>686876<br>Contact:8090685467
    </div>
</div>
