
<br>
<div class="about-1">
    <h1>ABOUT US</h1>
    <div class="flex-item">
    Agridrive Limited is an agritech company working with farmers to unlock agribusiness opportunities in India. 
    We provide end to end innovative market edge agribusiness solutions to farmers throughout the continent.
   </div>
</div>
<div class="flex-container">
   <div class="flex-item">
      <img src="../assets/Images/crop.png">
      <h4>Mechanised Crop Production</h4>
      Ploughing, harrowing, planting, herbicide application, weeding, harvesting, input support.
   </div>
   <div class="flex-item">
      <img src="../assets/Images/hand.png">
      <h4>Agribusiness Consultancy</h4>
      Technology Licensing, Royalty Management, and Agribusiness Advisory.
   </div>
</div>
<div class="flex-container">
   <div class="flex-item">
      <img src="../assets/Images/our.jpg" height="50px" width="60px">
      <h4>OUR VALUES</h4>
        As a company, our mission goes beyond achieving the financial bottom-line. In this respect, 
         our values are anchored on being experts in our field, building viable partnerships for 
         agricultural transformation, sharing knowledge with others, and reaching more farmers
          than we can alone, ensuring effective technologies are widely accessed. We believe in 
          ecological stewardship, operational  excellence, a partnership approach, and technical 
          know-how to drive prosperity among farmers in Africa while profitably sustaining our
           business.          
   </div>
   <div class="flex-item">
      <img src="../assets/Images/position.jpg" height="50px" width="60px">
      <h3>OUR PROPOSITIONS</h3>
      Our promise is the commitment to providing innovative market edge agribusiness solutions to 
      farmers throughout India.Supported by our team of seasoned professionals, we aim to maximize
       improvements in society as well as environmental well-being among farmers through commercial 
       business operations. Our consultancy rates are very competitive and you will assuredly prosper 
       with us.

   </div>

</div>
    
    
   
