<div class="container wrapper">
    <div class="row">
        <!-- Issue table -->
        <div class="col-md-12">
            <div class="inner">
                <h3>Fertilizers</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Area</th>
                            <th scope="col">Shopname</th>
                            <th scope="col">Date</th>
                            <th scope="col">Availableproducts</th>
                            <th scope="col">Contact</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let fertilizer of FertilizerallList">
                            <th scope="row">{{fertilizer.areas}}</th>
                            <td>{{fertilizer.shopname}}</td>
                            <td>{{fertilizer.date}}</td>
                            <td>{{fertilizer.availableproducts}}</td>
                            <td>{{fertilizer.contact}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

